//////////////////////////////
// White to Black
//////////////////////////////

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

//////////////////////////////
// Bucketly Colors
//////////////////////////////

$light: #a98bea !default;
$medium: #906fdb !default;

$inputfieldcontainer: rgba(88,0,88, 0.70) !default;
$fieldcontainer: rgba(117, 0, 118, 0.70) !default;
$cardsectioncontainer: rgba(117, 0, 118, 0.42) !default;
$cardcontainer: #923a93 !default;
$navcontainer: rgba(0, 0, 0, 0.15) !default;

$card-gradient-light: rgba(236, 177, 237, 0.25) !default;
$card-gradient-dark: rgba(86, 138, 209, 0.25) !default;
$button-gradient-light: #A380E2 !default;
$button-gradient-dark: #8965D1 !default;
$background-gradient-light: #801481 !default;
$background-gradient-dark: #331871 !default;
