@font-face {
    font-family: 'Manrope';
    src: 
    url('../assets/fonts/Manrope-ExtraLight.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../assets/fonts/Manrope-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../assets/fonts/Manrope-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../assets/fonts/Manrope-Medium.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../assets/fonts/Manrope-SemiBold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../assets/fonts/Manrope-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../assets/fonts/Manrope-ExtraBold.ttf')  format('truetype'), /* Safari, Android, iOS */
  }

  @font-face {
    font-family: 'Roboto Mono';
    src: 
    url('../assets/fonts/RobotoMono-VariableFont_wght.ttf')  format('truetype'), /* Safari, Android, iOS */
  }